<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bocai.select.photo">

    <application>
        <activity android:name=".ClipImageActivity"/>
        <activity android:name=".ImageSelectorActivity"/>
        <activity android:name=".PreviewActivity"/>
    </application>

</manifest>